MAX_WORKERS=4
SCHEDULER_POLL_INTERVAL=5
SCHEDULER_ENABLED=True

JWT_SECRET=change-me

DATABASE_URL=postgresql+psycopg://postgres:<password>@postgres:5432/overseer_db

POSTGRES_USER=postgres
POSTGRES_PASSWORD=<password>
POSTGRES_DB=overseer_db